# Data Preprocessing for Climate Data

In [13]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [14]:
%matplotlib inline

# Reading Dataset
### Dates which are present in the vegetable dataset those only consider for processing

In [15]:
climate = pd.read_csv('Climate_Nagpur.csv')
vegetables = pd.read_csv('Nagpur_Cotton.csv')
climate.head()
#len(vegetables)

,Year,Month,Date,Temp_Max,Temp_Avg,Temp_Min,Dew_Max,Dew_Avg,Dew_Min,Humid_Max,Humid_Avg,Humid_Min,Wind_Max,Wind_Avg,Wind_Min,Pressure_Max,Pressure_Avg,Pressure_Min,Precipitation_Total
0,2019,Jan,1,82,65.6,50,45,38.1,32,67,40.1,16,3,1.3,0,29.1,29.0,29.0,0
1,2019,Jan,2,86,68.2,50,52,43.5,37,72,45.3,18,5,0.8,0,29.1,29.0,28.9,0
2,2019,Jan,3,84,67.8,54,52,46.7,43,77,49.9,25,5,0.8,0,29.1,29.0,29.0,0
3,2019,Jan,4,82,67.9,54,50,47.0,43,77,50.3,28,3,1.4,0,29.1,28.4,0.0,0
4,2019,Jan,5,82,68.4,54,54,51.5,46,82,57.0,35,5,1.5,0,29.1,27.1,0.0,0

# String is converted into Required Format

In [16]:
climate['Date Format'] = climate['Year'].map(str) + "-" + climate['Month'].astype(str) + "-" + climate['Date'].astype(str)
climate['Date Format'] = pd.to_datetime(climate['Date Format'])
climate.head()

,Year,Month,Date,Temp_Max,Temp_Avg,Temp_Min,Dew_Max,Dew_Avg,Dew_Min,Humid_Max,Humid_Avg,Humid_Min,Wind_Max,Wind_Avg,Wind_Min,Pressure_Max,Pressure_Avg,Pressure_Min,Precipitation_Total,Date Format
0,2019,Jan,1,82,65.6,50,45,38.1,32,67,40.1,16,3,1.3,0,29.1,29.0,29.0,0,2019-01-01
1,2019,Jan,2,86,68.2,50,52,43.5,37,72,45.3,18,5,0.8,0,29.1,29.0,28.9,0,2019-01-02
2,2019,Jan,3,84,67.8,54,52,46.7,43,77,49.9,25,5,0.8,0,29.1,29.0,29.0,0,2019-01-03
3,2019,Jan,4,82,67.9,54,50,47.0,43,77,50.3,28,3,1.4,0,29.1,28.4,0.0,0,2019-01-04
4,2019,Jan,5,82,68.4,54,54,51.5,46,82,57.0,35,5,1.5,0,29.1,27.1,0.0,0,2019-01-05

In [17]:
vegetables.head()
vegetables.shape
climate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790 entries, 0 to 789
Data columns (total 20 columns):
Year                   790 non-null int64
Month                  790 non-null object
Date                   790 non-null int64
Temp_Max               790 non-null int64
Temp_Avg               790 non-null float64
Temp_Min               790 non-null int64
Dew_Max                790 non-null int64
Dew_Avg                790 non-null float64
Dew_Min                790 non-null int64
Humid_Max              790 non-null int64
Humid_Avg              790 non-null float64
Humid_Min              790 non-null int64
Wind_Max               790 non-null int64
Wind_Avg               790 non-null float64
Wind_Min               790 non-null int64
Pressure_Max           790 non-null float64
Pressure_Avg           790 non-null float64
Pressure_Min           790 non-null float64
Precipitation_Total    790 non-null int64
Date Format            790 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(7), int64(11), object(1)
memory usage: 120.4+ KB

In [18]:
vegetables = vegetables[vegetables['District Name'] == "Nagpur"]
vegetables = vegetables[vegetables['Market Name'] == "Bhiwapur"]
vegetables = vegetables[vegetables['Commodity'] == "Cotton"]
vegetables.head()

,Sl no.,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date
0,1,Nagpur,Bhiwapur,Cotton,Varalaxmi,FAQ,4900,5250,5000,26-Dec-19
1,2,Nagpur,Bhiwapur,Cotton,Varalaxmi,FAQ,4900,5300,5100,25-Dec-19
2,3,Nagpur,Bhiwapur,Cotton,Varalaxmi,FAQ,4900,5350,5100,15-Dec-19
3,4,Nagpur,Bhiwapur,Cotton,Varalaxmi,FAQ,5100,5360,5250,11-Dec-19
4,5,Nagpur,Bhiwapur,Cotton,Varalaxmi,FAQ,5000,5230,5115,04-Dec-19

# Function to generate dates

In [19]:
pd.date_range(end='1/1/2018', periods= 2)

DatetimeIndex(['2017-12-31', '2018-01-01'], dtype='datetime64[ns]', freq='D')

In [20]:
vegetables['Price Date'] = pd.to_datetime(vegetables['Price Date'])
vegetables = vegetables.iloc[::-1]
#vegetables.head(10)

# Logic for averaging all parameters

In [21]:
final = []
days_required = 200.0
for row1 in vegetables['Price Date']:
    Temp_Avg, Dew_Avg,Humid_Avg,Wind_Avg,Pressure_Avg, Precipitation_Total = 0.0,0.0,0.0,0.0,0.0,0.0
    Temp_Max, Temp_Min, Dew_Max, Dew_Min, Humid_Max, Humid_Min,Wind_Max, Wind_Min, Pressure_Max, Pressure_Min = 0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
    for row2 in pd.date_range(end=row1, periods= days_required):
        try:
            temp = climate[climate['Date Format'] == row2]
            
            Temp_Max += float(temp['Temp_Max'])
            Temp_Avg += float(temp['Temp_Avg'])
            Temp_Min += float(temp['Temp_Min'])
        
            Dew_Max += float(temp['Dew_Max'])
            Dew_Avg += float(temp['Dew_Avg'])
            Dew_Min += float(temp['Dew_Min'])
        
            Humid_Max += float(temp['Humid_Max'])
            Humid_Avg += float(temp['Humid_Avg'])
            Humid_Min += float(temp['Humid_Min'])
        
            Wind_Max += float(temp['Wind_Max'])
            Wind_Avg += float(temp['Wind_Avg'])
            Wind_Min += float(temp['Wind_Min'])
        
            Pressure_Avg += float(temp['Pressure_Avg'])
        
            Precipitation_Total += float(temp['Precipitation_Total'])
        except:
            continue
        
    final.append([row1,Temp_Max/days_required,Temp_Avg / days_required, Temp_Min / days_required,Dew_Min/ days_required,Dew_Avg/ days_required, Dew_Min/ days_required, Humid_Max/ days_required,Humid_Avg/ days_required, Humid_Min/ days_required, Wind_Max/ days_required, Wind_Avg/ days_required, Wind_Min/ days_required, Pressure_Max/ days_required, Pressure_Avg/ days_required, Pressure_Min/ days_required, Precipitation_Total/ days_required])

In [22]:
final

[[Timestamp('2019-01-13 00:00:00'),
  86.65,
  77.2875,
  66.95,
  60.585,
  65.50749999999995,
  60.585,
  88.515,
  69.84850000000003,
  48.95,
  7.995,
  2.733999999999999,
  0.185,
  0.0,
  28.607999999999958,
  0.0,
  0.0],
 [Timestamp('2019-01-16 00:00:00'),
  86.54,
  77.09349999999999,
  66.67,
  60.145,
  65.10499999999996,
  60.145,
  88.125,
  69.35650000000003,
  48.425,
  7.64,
  2.6999999999999993,
  0.185,
  0.0,
  28.61349999999996,
  0.0,
  0.0],
 [Timestamp('2019-02-03 00:00:00'),
  86.135,
  75.95949999999999,
  64.76,
  57.435,
  62.665499999999945,
  57.435,
  86.675,
  66.41550000000002,
  44.67,
  7.42,
  2.4710000000000005,
  0.165,
  0.0,
  28.716499999999968,
  0.0,
  0.0],
 [Timestamp('2019-02-03 00:00:00'),
  86.135,
  75.95949999999999,
  64.76,
  57.435,
  62.665499999999945,
  57.435,
  86.675,
  66.41550000000002,
  44.67,
  7.42,
  2.4710000000000005,
  0.165,
  0.0,
  28.716499999999968,
  0.0,
  0.0],
 [Timestamp('2019-02-04 00:00:00'),
  86.125,
  75.8945,
  64.65,
  57.265,
  62.53549999999995,
  57.265,
  86.64,
  66.27800000000003,
  44.43,
  7.39,
  2.447,
  0.165,
  0.0,
  28.718999999999966,
  0.0,
  0.0],
 [Timestamp('2019-02-04 00:00:00'),
  86.125,
  75.8945,
  64.65,
  57.265,
  62.53549999999995,
  57.265,
  86.64,
  66.27800000000003,
  44.43,
  7.39,
  2.447,
  0.165,
  0.0,
  28.718999999999966,
  0.0,
  0.0],
 [Timestamp('2019-02-06 00:00:00'),
  86.135,
  75.81349999999999,
  64.44,
  57.015,
  62.29699999999994,
  57.015,
  86.49,
  65.94050000000001,
  43.985,
  7.38,
  2.4230000000000005,
  0.155,
  0.0,
  28.722499999999968,
  0.0,
  0.0],
 [Timestamp('2019-02-07 00:00:00'),
  86.165,
  75.80299999999998,
  64.395,
  56.88,
  62.19849999999993,
  56.88,
  86.38,
  65.73400000000001,
  43.735,
  7.395,
  2.418,
  0.145,
  0.0,
  28.720999999999968,
  0.0,
  0.0],
 [Timestamp('2019-02-13 00:00:00'),
  86.185,
  75.54099999999998,
  63.78,
  55.79,
  61.23299999999995,
  55.79,
  85.395,
  64.24250000000002,
  42.07,
  7.275,
  2.325,
  0.105,
  0.0,
  28.732999999999965,
  0.0,
  0.0],
 [Timestamp('2019-02-17 00:00:00'),
  86.135,
  75.37299999999998,
  63.485,
  55.32,
  60.859999999999964,
  55.32,
  85.08,
  63.81500000000001,
  41.585,
  7.24,
  2.2700000000000014,
  0.09,
  0.0,
  28.738499999999974,
  0.0,
  0.0],
 [Timestamp('2019-02-21 00:00:00'),
  86.15,
  75.24399999999999,
  62.615,
  54.42,
  60.42299999999997,
  54.42,
  84.695,
  63.17999999999999,
  40.71,
  7.16,
  2.218000000000001,
  0.09,
  0.0,
  28.742999999999974,
  0.0,
  0.0],
 [Timestamp('2019-02-27 00:00:00'),
  86.39,
  75.25049999999997,
  62.33,
  53.545,
  59.657999999999966,
  53.545,
  83.635,
  61.80749999999999,
  39.29,
  7.205,
  2.2150000000000007,
  0.07,
  0.0,
  28.79949999999997,
  0.0,
  0.0],
 [Timestamp('2019-03-10 00:00:00'),
  86.745,
  75.24999999999999,
  62.56,
  52.56,
  58.258499999999984,
  52.56,
  81.475,
  59.11699999999999,
  37.175,
  7.145,
  2.2075000000000005,
  0.06,
  0.0,
  28.81849999999999,
  0.0,
  0.0],
 [Timestamp('2019-03-10 00:00:00'),
  86.745,
  75.24999999999999,
  62.56,
  52.56,
  58.258499999999984,
  52.56,
  81.475,
  59.11699999999999,
  37.175,
  7.145,
  2.2075000000000005,
  0.06,
  0.0,
  28.81849999999999,
  0.0,
  0.0],
 [Timestamp('2019-03-11 00:00:00'),
  86.835,
  75.28249999999998,
  62.515,
  52.39,
  58.11699999999999,
  52.39,
  81.25,
  58.81449999999999,
  36.845,
  7.145,
  2.204500000000001,
  0.06,
  0.0,
  28.819499999999994,
  0.0,
  0.0],
 [Timestamp('2019-03-13 00:00:00'),
  86.97,
  75.36799999999998,
  62.15,
  51.91,
  57.89299999999999,
  51.91,
  80.695,
  58.25449999999998,
  36.29,
  7.13,
  2.206500000000001,
  0.06,
  0.0,
  28.821499999999997,
  0.0,
  0.0],
 [Timestamp('2019-03-13 00:00:00'),
  86.97,
  75.36799999999998,
  62.15,
  51.91,
  57.89299999999999,
  51.91,
  80.695,
  58.25449999999998,
  36.29,
  7.13,
  2.206500000000001,
  0.06,
  0.0,
  28.821499999999997,
  0.0,
  0.0],
 [Timestamp('2019-03-29 00:00:00'),
  88.135,
  75.94399999999996,
  61.71,
  49.735,
  56.29850000000001,
  49.735,
  77.49,
  54.33349999999998,
  32.105,
  6.995,
  2.181000000000001,
  0.05,
  0.0,
  28.834500000000027,
  0.0,
  0.0],
 [Timestamp('2019-03-31 00:00:00'),
  88.305,
  76.07399999999997,
  61.74,
  49.405,
  56.007000000000005,
  49.405,
  76.93,
  53.78849999999997,
  31.7,
  7.02,
  2.201000000000001,
  0.05,
  0.0,
  28.834000000000024,
  0.0,
  0.0],
 [Timestamp('2019-04-17 00:00:00'),
  89.56,
  76.85049999999995,
  61.63,
  46.825,
  54.034,
  46.825,
  73.02,
  49.800499999999985,
  28.305,
  10.94,
  2.4595,
  0.025,
  0.0,
  28.831000000000017,
  0.0,
  0.0],
 [Timestamp('2019-04-18 00:00:00'),
  89.59,
  76.86599999999997,
  61.65,
  46.735,
  53.9585,
  46.735,
  72.835,
  49.65799999999999,
  28.21,
  10.955,
  2.4695,
  0.025,
  0.0,
  28.83050000000002,
  0.0,
  0.0],
 [Timestamp('2019-04-28 00:00:00'),
  90.26,
  77.51099999999997,
  61.94,
  45.75,
  53.18,
  45.75,
  70.88,
  47.82549999999999,
  26.95,
  11.145,
  2.573,
  0.025,
  0.0,
  28.824000000000023,
  0.0,
  0.0],
 [Timestamp('2019-05-01 00:00:00'),
  90.585,
  77.81199999999995,
  62.13,
  45.415,
  52.9075,
  45.415,
  70.22,
  47.17099999999999,
  26.5,
  11.2,
  2.5855,
  0.025,
  0.0,
  28.821000000000026,
  0.0,
  0.0],
 [Timestamp('2019-05-08 00:00:00'),
  91.125,
  78.46149999999997,
  62.71,
  44.7,
  52.166,
  44.7,
  68.3,
  45.62000000000001,
  25.64,
  11.475,
  2.7815,
  0.09,
  0.0,
  28.812000000000033,
  0.0,
  0.0],
 [Timestamp('2019-05-22 00:00:00'),
  92.46,
  79.8605,
  64.03,
  43.595,
  51.156000000000006,
  43.595,
  64.545,
  42.83199999999998,
  23.95,
  11.915,
  3.0649999999999995,
  0.125,
  0.0,
  28.789000000000048,
  0.0,
  0.0],
 [Timestamp('2019-11-21 00:00:00'),
  92.255,
  84.169,
  74.04,
  62.115,
  68.32349999999997,
  62.115,
  81.99,
  67.20700000000001,
  48.495,
  12.175,
  4.62,
  0.765,
  0.0,
  28.60349999999995,
  0.0,
  0.0],
 [Timestamp('2019-11-24 00:00:00'),
  91.885,
  83.73249999999999,
  73.605,
  62.36,
  68.58249999999997,
  62.36,
  83.03,
  68.0045,
  48.925,
  12.06,
  4.550000000000001,
  0.74,
  0.0,
  28.607999999999944,
  0.0,
  0.0],
 [Timestamp('2019-11-27 00:00:00'),
  91.51,
  83.33599999999997,
  73.21,
  62.585,
  68.79199999999997,
  62.585,
  83.955,
  68.7565,
  49.375,
  11.935,
  4.487,
  0.74,
  0.0,
  28.615499999999937,
  0.0,
  0.0],
 [Timestamp('2019-12-04 00:00:00'),
  90.63,
  82.4145,
  72.09,
  62.875,
  69.28599999999994,
  62.875,
  86.095,
  70.48549999999999,
  50.325,
  11.66,
  4.339499999999999,
  0.705,
  0.0,
  28.625999999999927,
  0.0,
  0.0],
 [Timestamp('2019-12-11 00:00:00'),
  89.525,
  81.28000000000002,
  71.395,
  63.28,
  69.35749999999993,
  63.28,
  87.95,
  71.942,
  51.255,
  11.515,
  4.235499999999999,
  0.68,
  0.0,
  28.64099999999993,
  0.0,
  0.0],
 [Timestamp('2019-12-15 00:00:00'),
  88.89,
  80.67049999999999,
  70.86,
  63.63,
  69.61599999999993,
  63.63,
  89.19,
  73.064,
  52.035,
  11.44,
  4.182499999999999,
  0.655,
  0.0,
  28.647999999999932,
  0.0,
  0.0],
 [Timestamp('2019-12-25 00:00:00'),
  87.23,
  79.18949999999995,
  69.945,
  63.97,
  69.53699999999995,
  63.97,
  91.29,
  75.0475,
  53.805,
  11.21,
  4.009999999999999,
  0.655,
  0.0,
  28.667999999999935,
  0.0,
  0.0],
 [Timestamp('2019-12-26 00:00:00'),
  87.035,
  79.02499999999995,
  69.82,
  63.905,
  69.52349999999996,
  63.905,
  91.44,
  75.30099999999999,
  53.945,
  11.19,
  3.998499999999999,
  0.655,
  0.0,
  28.681499999999936,
  0.0,
  0.0]]

In [50]:
len(final)

248

In [ ]:
#final

In [23]:
df = pd.DataFrame(data = final, columns = ['Date','Temp_Max', 'Temp_Avg', 'Temp_Min', 'Dew_Max', 'Dew_Avg', 'Dew_Min', 'Humid_Max', 'Humid_Avg','Humid_Min','Wind_Max','Wind_Avg','Wind_Min','Pressure_Max', 'Pressure_Avg','Pressure_Min', 'Precipitation_Total'])

# CSV File is generated here

In [24]:
df.to_csv('climate_Nagpur_200.csv')

In [ ]:
#for row2 in pd.date_range(end=row1, periods= days_required):
        #temp = climate[climate['Date Format'] == row2]
        #print(row2)
        '''Temp_Avg += int(temp['Temp_Avg'])
        Dew_Avg += int(temp['Dew_Avg'])
        Humid_Avg += int(temp['Humid_Avg'])
        Wind_Avg += int(temp['Wind_Avg']) 
        Pressure_Avg += int(temp['Pressure_Avg'])
        Precipitation_Total += int(temp['Precipitation_Total'])
    final.append([row1,Temp_Avg / month_required, Dew_Avg/month_required, Humid_Avg/month_required, Wind_Avg/month_required, Pressure_Avg/month_required,Precipitation_Total/month_required])'''
'''for row1 in vegetables['Price Date']:
    Temp_Avg, Dew_Avg,Humid_Avg,Wind_Avg,Pressure_Avg, Precipitation_Total = 0,0,0,0,0,0
    temp = climate[climate['Date Format'] == row1]
    print(temp)'''
'''
Temp_Max += temp['Temp_Max'].astype(float)
        Temp_Avg += temp['Temp_Avg'].astype(float)
        Temp_Min += temp['Temp_Min'].astype(float)
        
        Dew_Max += temp['Dew_Max'].astype(float)
        Dew_Avg += temp['Dew_Avg'].astype(float)
        Dew_Min += temp['Dew_Min'].astype(float)
        
        Humid_Max += temp['Humid_Max'].astype(float)
        Humid_Avg += temp['Humid_Avg'].astype(float)
        Humid_Min += temp['Humid_Min'].astype(float)
        
        Wind_Max += temp['Wind_Max'].astype(float)
        Wind_Avg += temp['Wind_Avg'].astype(float)
        Wind_Min += temp['Wind_Min'].astype(float)
        
        Pressure_Avg += temp['Pressure_Avg'].astype(float)
        
        Precipitation_Total += temp['Precipitation_Total'].astype(float)
    final.append([row1,Temp_Max/days_required,Temp_Avg / days_required, Temp_Min / days_required,Dew_Min/ days_required,Dew_Avg/ days_required, Dew_Min/ days_required, Humid_Max/ days_required,Humid_Avg/ days_required, Humid_Min/ days_required, Wind_Max/ days_required, Wind_Avg/ days_required, Wind_Min/ days_required, Pressure_Max/ days_required, Pressure_Avg/ days_required, Pressure_Min/ days_required, Precipitation_Total/ days_required])
    
Temp_Max += int(temp['Temp_Max'])
        Temp_Avg += int(temp['Temp_Avg'])
        Temp_Min += int(temp['Temp_Min'])
        
        Dew_Max += int(temp['Dew_Max'])
        Dew_Avg += int(temp['Dew_Avg'])
        Dew_Min += int(temp['Dew_Min'])
        
        Humid_Max += int(temp['Humid_Max'])
        Humid_Avg += int(temp['Humid_Avg'])
        Humid_Min += int(temp['Humid_Min'])
        
        Wind_Max += int(temp['Wind_Max'])
        Wind_Avg += int(temp['Wind_Avg'])
        Wind_Min += int(temp['Wind_Min'])
        
        Pressure_Avg += int(temp['Pressure_Avg'])
        
        Precipitation_Total += int(temp['Precipitation_Total'])
'''